body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #007BFF;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

main {
  padding: 1rem;
  place-items: center;
}

form {
  margin-bottom: 0;
}

input, button {
  padding: 0.75rem;
  width: 450px;
  max-width: 450px;
  display: block;
  box-sizing: border-box;
  margin: 0.75rem 0 0;

}

.outer-div {

  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 0;
}

.input-group {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0 0;
}

.input-group input {
  flex: 1;
  padding: 0.75rem;
  border-radius: 5px;
  border: 2px solid #007BFF;
  background-color: #fff;
  box-sizing: border-box;
}

.delete-button {
  max-width: 40px;
  max-height: 40px;
  background-color: #dc3545;
  color: #fff;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid #dc3545;
  font-size: x-large;
  text-align: center;


}

.delete-button:hover {
  background-color: #c82333;
  border: 2px solid black;

}

button {
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  border: 1px solid #007BFF;
}

button:hover {
  background-color: #0056b3;
  border: 1px solid black;

}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.saved-Excercise {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-item {
  margin: 0 auto;
}
