body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #007BFF;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

main {
  padding: 1rem;
  place-items: center;
}

form {
  margin-bottom: 0;
}

input, button {
  padding: 0.75rem;
  width: 450px;
  max-width: 450px;
  display: block;
  box-sizing: border-box;
  margin: 0.75rem 0 0;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.outer-div {

  width: 440px;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-right: 5px;
}

.input-group {
  display: flex;
  gap: 10px;
  width: 390px;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0 0;
}

.input-group input {
  flex: 1;
  padding: 0.75rem;
  border-radius: 5px;
  border: 2px solid #007BFF;
  background-color: #fff;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-right: 5px;
}

.edit-button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 1.5rem; /* Upravit velikost dle potřeby */
  font-weight: bold;
  line-height: 0.9; /* Tohle může pomoci s lepším zarovnáním */
  text-align: center;
  box-sizing: border-box;
  margin-top: 0px;
}

.delete-button {
  width: 40px;
  height: 40px;
  background-color: #dc3545;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #dc3545;
  font-size: 1.5rem; /* Upravit velikost dle potřeby */
  font-weight: bold;
  line-height: 0.9; /* Tohle může pomoci s lepším zarovnáním */
  text-align: center;
  box-sizing: border-box;
}

.save-button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 1.5rem; /* Upravit velikost dle potřeby */
  font-weight: bold;
  line-height: 0.9; /* Tohle může pomoci s lepším zarovnáním */
  text-align: center;
  box-sizing: border-box;
}


.delete-button:hover {
  background-color: #c82333;
  border: 2px solid black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}


button {
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  border: 1px solid #007BFF;
}

button:hover {
  background-color: #0056b3;
  border: 1px solid black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);

}

ul {
  list-style-type: none;
  padding: 0;
  width: 450px;
}

li {
  list-style-type: none;
  background: #fff;
  margin: 0px;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 4px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  max-width: 432px;
  margin-bottom: 10px;
  border-radius: 10px;
}


